  * {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;}

  body {
    background-image: url(images/PokémonFondoGris2.jpg); 
    justify-content: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    max-height: 100vh;
  }

  .portada {
    display:block;
    margin: 0 auto;
    margin-top: 30px;
    width: 40% auto;
    justify-content: center;
  }

  /*Centrar botones superiores*/

  .centrar{
    display: flex;
    justify-content: center;
  }

  /*Configuración botones superiores*/

  .botones {
    width: 50vw;
    max-width: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #FF3334;
    border: 4px solid #000000;
    border-radius: 15px; 
    box-shadow: 2px 2px 5px rgb(63, 35, 35);
  }

  .botones:hover {
    background-color: #b62323;
    opacity: 0.6;
  }

    /*Configuración Contenedor Imagen Pokédex Uno*/

  .contenedorDexUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 900px;
    background-image: url(images/Pokedex2-texto.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: flex-end;
    margin: 0 auto;
    }

    /*Configuración Sub Contenedo Pokédex Uno*/

  .subContenedorDexUno{
    width: 480px;
    height: 450px;
    margin-right: 40px;
    text-align: center;
  }  
    
  .textoUno{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
  }

  .inputNombre{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #93BF3E;
    border: 2px solid #2e2b2b;
    width: 130px;
    padding: 5px;
    border-radius: 8px;
    font-size: 18px;
    margin: 20px; 
  }

  .inputNombre:hover {
    opacity: 0.6;
  }

  #textoInput{ 
    font-family: 'Assistant', sans-serif;
    color:#ffffff;
    font-size: 20px;
  }

  #buttonGo{
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
    border: 2px solid #2e2b2b;
    width: 60px;
    padding: 5px;
    color: #201f1f ;
    border-radius: 8px;
    font-size: 14px;  
    text-decoration:none;
  }

  #buttonGo:hover {
    opacity: 0.6;
  }

 /*Pikachu*/

 .pikachuBusqueda {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  }

  .pikachuBusqueda:hover{
    opacity: 0.6;
  }
   
 /*Configuración botones redes sociales*/ 

 .centrarRedes{
  display: flex;
  justify-content: center;
}

.fab {
  text-decoration: none;
  font-size: 15px;
  color: #131212 ;
  border: transparent;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fab:hover {
  opacity: 0.6;
}

/*Configuración Contenedor Imagen Pokédex Dos*/

.contenedorDexDos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 900px;
  background-image: url(images/Pokedex3.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

    /*Configuración Sub Contenedor Pokédex Dos (pantalla scroll)*/

.subContenedorDexDos{
  display: flex;
  border-radius: 20px;
  width: 530px;
  height: 450px;
  background-image: linear-gradient(to bottom, #cceafb, #c8e9fc, #c4e8fc, #c0e7fd, #bce6fe, #afe9ff, #a2ebff, #94eeff, #80f5f7, #79fae5, #85fecc, #9fffae);
  margin-bottom: 100px;
  overflow-y: scroll;
}  

/*background-image: url(images/Prueba.jpg); 
background-size: contain;
background-repeat: repeat;

flex-direction: column;
align-items: center;*/


.backButton{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
}
